.layer0 {
    position: relative;
    size: xx-large;
    width: 200px;
    height: 200px;
    color: rgb(7, 158, 158);
    margin: 5px;
}

.layer1 {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    position: absolute;
}

.layer2 {
    color: rgb(210, 25, 230);
    top: 2px;
    left: 2px;
}

.layer3 {
    top: 4px;
    left: 4px;
    z-index: 2;
    color: rgb(239, 91, 91);
}

ul.no-bullets {
    list-style-type: none;
}

a {
    color: red;
    background-color: palevioletred;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 30px 8px;
    margin: 0 4px;
    border: 10px;
    float: left;
    font-size: x-large;
}

a:link {
    color: blue
}

a:visited {
    color: aqua
}

a:hover {
    color: red;
    position: relative;
    right: 2px;
    top: 3px;
}

a:active {
    color: white
}